<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kkbox.mapper.ListcommentsMapper">
  <resultMap id="BaseResultMap" type="com.kkbox.domain.Listcomments">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="info" jdbcType="VARCHAR" property="info" />
    <result column="plid" jdbcType="INTEGER" property="plid" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, info, plid, createtime, pid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_listcomments
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_listcomments
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kkbox.domain.Listcomments">
    insert into t_listcomments (id, uid, info, 
      plid, createtime, pid
      )
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{info,jdbcType=VARCHAR}, 
      #{plid,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{pid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kkbox.domain.Listcomments">
    insert into t_listcomments
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="info != null">
        info,
      </if>
      <if test="plid != null">
        plid,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="pid != null">
        pid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="info != null">
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="plid != null">
        #{plid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kkbox.domain.Listcomments">
    update t_listcomments
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="info != null">
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="plid != null">
        plid = #{plid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kkbox.domain.Listcomments">
    update t_listcomments
    set uid = #{uid,jdbcType=INTEGER},
      info = #{info,jdbcType=VARCHAR},
      plid = #{plid,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      pid = #{pid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>