<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="java.mapper.MvMapper">
  <resultMap id="BaseResultMap" type="com.kkbox.domain.Mv">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="videoname" jdbcType="VARCHAR" property="videoname" />
    <result column="videoinfo" jdbcType="VARCHAR" property="videoinfo" />
    <result column="albuname" jdbcType="VARCHAR" property="albuname" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="comment" jdbcType="INTEGER" property="comment" />
    <result column="colletion" jdbcType="INTEGER" property="colletion" />
    <result column="playcount" jdbcType="INTEGER" property="playcount" />
    <result column="thumbunm" jdbcType="INTEGER" property="thumbunm" />
    <result column="uploadtiome" jdbcType="DATE" property="uploadtiome" />
    <result column="min" jdbcType="TIME" property="min" />
  </resultMap>
  <sql id="Base_Column_List">
    id, videoname, videoinfo, albuname, type, comment, colletion, playcount, thumbunm, 
    uploadtiome, min
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_mv
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_mv
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kkbox.domain.Mv">
    insert into t_mv (id, videoname, videoinfo, 
      albuname, type, comment, 
      colletion, playcount, thumbunm, 
      uploadtiome, min)
    values (#{id,jdbcType=INTEGER}, #{videoname,jdbcType=VARCHAR}, #{videoinfo,jdbcType=VARCHAR}, 
      #{albuname,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{comment,jdbcType=INTEGER}, 
      #{colletion,jdbcType=INTEGER}, #{playcount,jdbcType=INTEGER}, #{thumbunm,jdbcType=INTEGER}, 
      #{uploadtiome,jdbcType=DATE}, #{min,jdbcType=TIME})
  </insert>
  <insert id="insertSelective" parameterType="com.kkbox.domain.Mv">
    insert into t_mv
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="videoname != null">
        videoname,
      </if>
      <if test="videoinfo != null">
        videoinfo,
      </if>
      <if test="albuname != null">
        albuname,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="colletion != null">
        colletion,
      </if>
      <if test="playcount != null">
        playcount,
      </if>
      <if test="thumbunm != null">
        thumbunm,
      </if>
      <if test="uploadtiome != null">
        uploadtiome,
      </if>
      <if test="min != null">
        min,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="videoname != null">
        #{videoname,jdbcType=VARCHAR},
      </if>
      <if test="videoinfo != null">
        #{videoinfo,jdbcType=VARCHAR},
      </if>
      <if test="albuname != null">
        #{albuname,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=INTEGER},
      </if>
      <if test="colletion != null">
        #{colletion,jdbcType=INTEGER},
      </if>
      <if test="playcount != null">
        #{playcount,jdbcType=INTEGER},
      </if>
      <if test="thumbunm != null">
        #{thumbunm,jdbcType=INTEGER},
      </if>
      <if test="uploadtiome != null">
        #{uploadtiome,jdbcType=DATE},
      </if>
      <if test="min != null">
        #{min,jdbcType=TIME},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kkbox.domain.Mv">
    update t_mv
    <set>
      <if test="videoname != null">
        videoname = #{videoname,jdbcType=VARCHAR},
      </if>
      <if test="videoinfo != null">
        videoinfo = #{videoinfo,jdbcType=VARCHAR},
      </if>
      <if test="albuname != null">
        albuname = #{albuname,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=INTEGER},
      </if>
      <if test="colletion != null">
        colletion = #{colletion,jdbcType=INTEGER},
      </if>
      <if test="playcount != null">
        playcount = #{playcount,jdbcType=INTEGER},
      </if>
      <if test="thumbunm != null">
        thumbunm = #{thumbunm,jdbcType=INTEGER},
      </if>
      <if test="uploadtiome != null">
        uploadtiome = #{uploadtiome,jdbcType=DATE},
      </if>
      <if test="min != null">
        min = #{min,jdbcType=TIME},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kkbox.domain.Mv">
    update t_mv
    set videoname = #{videoname,jdbcType=VARCHAR},
      videoinfo = #{videoinfo,jdbcType=VARCHAR},
      albuname = #{albuname,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=INTEGER},
      colletion = #{colletion,jdbcType=INTEGER},
      playcount = #{playcount,jdbcType=INTEGER},
      thumbunm = #{thumbunm,jdbcType=INTEGER},
      uploadtiome = #{uploadtiome,jdbcType=DATE},
      min = #{min,jdbcType=TIME}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>