<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="java.mapper.PlaylistMapper">
  <resultMap id="BaseResultMap" type="com.kkbox.domain.Playlist">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="img" jdbcType="CHAR" property="img" />
    <result column="countcollection" jdbcType="INTEGER" property="countcollection" />
    <result column="countshare" jdbcType="INTEGER" property="countshare" />
    <result column="countplay" jdbcType="INTEGER" property="countplay" />
    <result column="createdate" jdbcType="DATE" property="createdate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, name, img, countcollection, countshare, countplay, createdate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_playlist
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_playlist
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kkbox.domain.Playlist">
    insert into t_playlist (id, uid, name, 
      img, countcollection, countshare, 
      countplay, createdate)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{img,jdbcType=CHAR}, #{countcollection,jdbcType=INTEGER}, #{countshare,jdbcType=INTEGER}, 
      #{countplay,jdbcType=INTEGER}, #{createdate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.kkbox.domain.Playlist">
    insert into t_playlist
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="img != null">
        img,
      </if>
      <if test="countcollection != null">
        countcollection,
      </if>
      <if test="countshare != null">
        countshare,
      </if>
      <if test="countplay != null">
        countplay,
      </if>
      <if test="createdate != null">
        createdate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        #{img,jdbcType=CHAR},
      </if>
      <if test="countcollection != null">
        #{countcollection,jdbcType=INTEGER},
      </if>
      <if test="countshare != null">
        #{countshare,jdbcType=INTEGER},
      </if>
      <if test="countplay != null">
        #{countplay,jdbcType=INTEGER},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kkbox.domain.Playlist">
    update t_playlist
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        img = #{img,jdbcType=CHAR},
      </if>
      <if test="countcollection != null">
        countcollection = #{countcollection,jdbcType=INTEGER},
      </if>
      <if test="countshare != null">
        countshare = #{countshare,jdbcType=INTEGER},
      </if>
      <if test="countplay != null">
        countplay = #{countplay,jdbcType=INTEGER},
      </if>
      <if test="createdate != null">
        createdate = #{createdate,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kkbox.domain.Playlist">
    update t_playlist
    set uid = #{uid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      img = #{img,jdbcType=CHAR},
      countcollection = #{countcollection,jdbcType=INTEGER},
      countshare = #{countshare,jdbcType=INTEGER},
      countplay = #{countplay,jdbcType=INTEGER},
      createdate = #{createdate,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>