<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kkbox.mapper.RoleresMapper">
  <resultMap id="BaseResultMap" type="com.kkbox.domain.Roleres">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="resid" jdbcType="INTEGER" property="resid" />
    <result column="rid" jdbcType="INTEGER" property="rid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, resid, rid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_roleres
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_roleres
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kkbox.domain.Roleres">
    insert into t_roleres (id, resid, rid
      )
    values (#{id,jdbcType=INTEGER}, #{resid,jdbcType=INTEGER}, #{rid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kkbox.domain.Roleres">
    insert into t_roleres
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="resid != null">
        resid,
      </if>
      <if test="rid != null">
        rid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="resid != null">
        #{resid,jdbcType=INTEGER},
      </if>
      <if test="rid != null">
        #{rid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kkbox.domain.Roleres">
    update t_roleres
    <set>
      <if test="resid != null">
        resid = #{resid,jdbcType=INTEGER},
      </if>
      <if test="rid != null">
        rid = #{rid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kkbox.domain.Roleres">
    update t_roleres
    set resid = #{resid,jdbcType=INTEGER},
      rid = #{rid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>