<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="java.mapper.SongerMapper">
  <resultMap id="BaseResultMap" type="com.kkbox.domain.Songer">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="rongertype" jdbcType="INTEGER" property="rongertype" />
    <result column="lauguagerlist" jdbcType="INTEGER" property="lauguagerlist" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.kkbox.domain.Songer">
    <result column="info" jdbcType="LONGVARCHAR" property="info" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, rongertype, lauguagerlist
  </sql>
  <sql id="Blob_Column_List">
    info
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_songer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_songer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kkbox.domain.Songer">
    insert into t_songer (id, name, rongertype, 
      lauguagerlist, info)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{rongertype,jdbcType=INTEGER}, 
      #{lauguagerlist,jdbcType=INTEGER}, #{info,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kkbox.domain.Songer">
    insert into t_songer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="rongertype != null">
        rongertype,
      </if>
      <if test="lauguagerlist != null">
        lauguagerlist,
      </if>
      <if test="info != null">
        info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="rongertype != null">
        #{rongertype,jdbcType=INTEGER},
      </if>
      <if test="lauguagerlist != null">
        #{lauguagerlist,jdbcType=INTEGER},
      </if>
      <if test="info != null">
        #{info,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kkbox.domain.Songer">
    update t_songer
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="rongertype != null">
        rongertype = #{rongertype,jdbcType=INTEGER},
      </if>
      <if test="lauguagerlist != null">
        lauguagerlist = #{lauguagerlist,jdbcType=INTEGER},
      </if>
      <if test="info != null">
        info = #{info,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.kkbox.domain.Songer">
    update t_songer
    set name = #{name,jdbcType=VARCHAR},
      rongertype = #{rongertype,jdbcType=INTEGER},
      lauguagerlist = #{lauguagerlist,jdbcType=INTEGER},
      info = #{info,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kkbox.domain.Songer">
    update t_songer
    set name = #{name,jdbcType=VARCHAR},
      rongertype = #{rongertype,jdbcType=INTEGER},
      lauguagerlist = #{lauguagerlist,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>